@import "vars";
@import "fonts";

* {
	margin: 0;
	padding: 0;
}
  
li {
	list-style-type: none;
}
  
a {
	text-decoration: none;
	color: #ffffff;
}
  
a:hover {
	color: #ccc;
}
  
img {
	display: block;
	width: 100%;
	margin: 0 auto;
	max-width: 100%;
}

body {
	font-size: 16px;
	line-height: 1.6;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;

	&.img-width {
		width: 100%;
	}
}


.container {
	max-width: 1680px ;
	margin: 0 auto;
	width: 100%;
	background-color: #fff;
}

.header_info {
	display: flex;
	justify-content: space-between;
	.logo {
		background-color: #7f43c3;
		width: 428px;
		height: 158px;
		border: 1px solid #979797;
		display: flex;
		justify-content: center;
		align-items: center;
		& a {
			color: #ffffff;
			font-size: 45px;
			font-weight: 400;
			letter-spacing: 3.38px;
		}
	}
	.time {
		text-align: center;
		padding: 50px 80px 0;
		& p {
			color: #000000;
			font-size: 35px;
			font-weight: 400;
			letter-spacing: 2.63px;
		}
		& time {
			color: #f29266;
			font-size: 27px;
			font-weight: 400;
			letter-spacing: 2.03px;
		}
	}
}

.hero {
	max-width: 1680px;
	margin-top: 120px;
	height: 765px;
	background-image: url(../img/hero-1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	&_form {
		position: absolute;
		margin: 246px 270px;
		padding: 100px;
		max-width: 1140px;
		height: 320px ;
		background-color: #ffffff;
		border-bottom: 1px solid #ececec;
		& h1 {
			color: #333333;
			font-size: 75px;
			letter-spacing: 5.63px;
			font-weight: 700;
			line-height: 90px;
		}
		& p {
			color: #000000;
			font-size: 30px;
			font-weight: 400;
			letter-spacing: 2.25px;
			padding-top: 30px;
			line-height: 40px;
		}
	}
}

