@import "vars";
@import "fonts";

* {
	margin: 0;
	padding: 0;
}
  
li {
	list-style-type: none;
}
  
a {
	text-decoration: none;
	color: #ffffff;
}
  
a:hover {
	color: #ccc;
}
  
img {
	display: block;
	width: 100%;
	margin: 0 auto;
	max-width: 100%;
}

input {
	display: block;
	border: solid 0.5px rgba(0, 0, 0, 0.1);
	width: 100%;
	height: 48px;
	padding-left: 15px;
	color: #494848;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.1px;
	border-radius: 5px;
	outline: none;
}
input:focus {
	border: 1px solid #7f43c3;
}


body {
	font-size: 16px;
	line-height: 1.6;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;

	&.img-width {
		width: 100%;
	}
}


.container {
	max-width: 1680px ;
	margin: 0 auto;
	width: 100%;
	background-color: #fff;
}

.header_info {
	display: flex;
	justify-content: space-between;
	.logo {
		background-color: #7f43c3;
		width: 428px;
		height: 158px;
		border: 1px solid #979797;
		display: flex;
		justify-content: center;
		align-items: center;
		& a {
			color: #ffffff;
			font-size: 45px;
			font-weight: 400;
			letter-spacing: 3.38px;
		}
	}
	.time {
		text-align: center;
		padding: 50px 80px 0;
		& p {
			color: #000000;
			font-size: 35px;
			font-weight: 400;
			letter-spacing: 2.63px;
		}
		& time {
			color: #f29266;
			font-size: 27px;
			font-weight: 400;
			letter-spacing: 2.03px;
		}
	}
}

.forms {
	background-color: #f3f3f3;
	.form {
		display: grid;
		grid-row-gap: 30px;
	}
}

.hero {
	max-width: 1680px;
	margin-top: 120px;
	height: 654px;
	background-image: url(../img/hero-1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	&_content {
		max-width: 1140px;
		margin: 0 auto;
		padding-top: 246px;
		display: grid;
	}
	&_title {
		display: grid;
		grid-row-gap: 27px;
		max-width: 960px;
    	padding: 80px 90px;
		background-color: #ffffff;
		& h1 {
			color: #333333;
			font-size: 75px;
			letter-spacing: 5.63px;
			font-weight: 700;
			line-height: 90px;
		}
		& p {
			color: #000000;
			font-size: 30px;
			font-weight: 400;
			line-height: 40px;
		}
	}
}


.section-hero-form {
	max-width: 1140px;
	margin: 0 auto;
	background-color: #fff;
	& .form {
		max-width: 812px;
		margin: 0  auto;
		padding-top: 50px;
	}
}


.placehold_name {
	width: 100%;
	& div {
		color: #333333;
		font-size: 16px;
		font-weight: 500;
		letter-spacing: 0.11px;
	}
}


.data-mail {
	display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

